@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.text-preset1 {
   font-size: 40px;
   line-height: 120%;
   font-weight: 700;
   font-family: "big shoulders", sans-serif;
   color: white;
}
.text-preset2 {
   font-family: "lexend deca", sans-serif;
   font-size: 15px;
   line-height: 165%;
   color: white;
}
.flex {
   display: flex;
   flex-direction: column;
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
}
.card-container {
   border-radius: 8px;
   display: flex;
   width: 921px;
   overflow: hidden;
}
.card {
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 48px;
}
.card img {
   width: 63.9px;
   height: 40px;
}
.sedans {
   background-color: hsl(31, 77%, 52%);
}
.suvs {
   background-color: hsl(184, 100%, 22%);
}
.luxury {
   background-color: hsl(179, 100%, 13%);
}
.text-description  {
   gap: 24px;
}
.text-container {
   gap: 80px;
}
button {
   background-color: white;
   border-radius: 25px;
   padding: 8px 32px;
   border: 2px solid white;
   align-self: start;
}
.sedans button {
   color: hsl(31, 77%, 52%);
}
.suvs button {
   color: hsl(184, 100%, 22%);
}
.luxury button{
   color: hsl(179, 100%, 13%);
}
button:hover {
   color: white;
   background-color: transparent;
   border: 2px solid white;
}
@media (max-width: 975px) {
   main {
      padding: 90px 0;
   }
   .card-container{
      flex-direction: column;
      width: 608px;
   }
   .card {
      padding: 48px 80px;
      gap: 32px;
   }
   .text-container, .text-description {
      gap: 24px;
   }
}
@media (max-width: 640px) {
   main {
      padding: 80px 0;
   }
   .card-container {
      width: 327px;
   }
   .card {
      padding: 48px;
   }
}