@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.text-preset1 {
   font-size: 40px;
   line-height: 120%;
   font-weight: 700;
   font-family: "big shoulders", sans-serif;
   color: white;
}
.text-preset2 {
   font-family: "lexend deca", sans-serif;
   font-size: 15px;
   line-height: 165%;
   color: white;
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
}
.card-container {
   border-radius: 8px;
   display: flex;
   width: 921px;
   overflow: hidden;
}
.card {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   padding: 4.8rem;
}
.card img {
   width: 64px;
   height: 40px;
}
.sedans {
   background-color: hsl(31, 77%, 52%);
   color: hsl(31, 77%, 52%);
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

}
.suvs {
   background-color: hsl(184, 100%, 22%);
   color: hsl(184, 100%, 22%);
}
.luxury {
   background-color: hsl(179, 100%, 13%);
   color: hsl(179, 100%, 13%);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.text-description h1 {
   margin-bottom: 2.4rem;
}
.text-description {
   margin-bottom: 8rem;
}
button {
   background-color: white;
   border-radius: 20px;
   padding: 8px 32px;
   border: none;
}
.sedans button {
   color: hsl(31, 77%, 52%);
}
.suvs button {
   color: hsl(184, 100%, 22%);
}
.luxury button{
   color: hsl(179, 100%, 13%);
}
button:hover {
   color: white;
   background-color: transparent;
   border: 2px solid white;
}
@media (max-width: 963px) {
   .card-container {
      flex-direction: column;
      width: 608px;
      margin: 100px 0;
   }
   .card {
      gap: 3.2rem;
      padding: 4.8rem 8rem;
   }
   .text-description {
   margin-bottom: 2.4rem;
   }
   .sedans {
      border-radius: 10px 10px 0 0;
   }.luxury {
      border-radius: 0 0 10px 10px;
   }
}
@media (max-width: 637px) {
   .card-container {
      flex-direction: column;
      width: 327px;
      margin: 50px 0;
   }
   .card {
      padding: 4.8rem;
   }
}